@model YMApp.Web.Admin.Models.Users.EditUserModalViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Model.User;
    var roles = Model.Roles;
}

@section scripts{
    <script src="~/view-resources/views/users/edit.js" asp-append-version="true"></script>
}
<div class="layui-row">
    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" value="@user.Id" name="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-inline">
                <input type="text" name="UserName" value="@user.UserName" class="layui-input">
            </div>
            <label class="layui-form-label">邮箱地址</label>
            <div class="layui-input-inline">
                <input type="text" name="EmailAddress" value="@user.EmailAddress" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" name="Password" class="layui-input">
            </div>
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="text" name="ConfirmPassword" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                是否激活
            </label>
            <div class="layui-input-inline">
                <input type="checkbox" name="isActive" value="@(user.IsActive)" lay-skin="switch" lay-text="是|否" lay-filter="isDefault" @(user.IsActive ? "checked" : "")>
            </div>
        </div>
        @if (roles != null && roles.Count() > 0)
        {
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="x-red">*</span>角色</label>
                <div class="layui-input-block">

                    @foreach (var item in roles)
                    {
                        <input type="checkbox" name="Role[@item.Id]" lay-skin="primary" title="@item.Name" checked="">
                    }

                </div>
            </div>
        }
        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="save">保存</button>
        </div>
    </form>
</div>

