@model YMApp.Web.Admin.Models.Article.EditArticleViewModel
@{
    ViewData["Title"] = "Index";
    var categorys = Model.Categorys;
    var article = Model.Article;
}

@section scripts{
    <script src="~/view-resources/views/article/edit.js" asp-append-version="true"></script>
}
<div class="layui-row">
    <form class="layui-form layui-form-pane" action="">
        <input type="hidden" value="@article.Id" name="Id" />
        <div class="layui-form-item">
            <label class="layui-form-label"> <span class="x-red">*</span>标题</label>
            <div class="layui-input-block">
                <input type="text" lay-verify="required" name="Title" autocomplete="off" placeholder="请输入标题" value="@article.Title" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> <span class="x-red">*</span>分类</label>
            <div class="layui-input-inline">
                <select name="CategoryId" lay-verify="required" lay-filter="aihao">
                    <option value="">请选则分类</option>
                    @foreach (var item in categorys)
                    {
                        if (article.CategoryId != 0 && article.CategoryId == item.Id)
                        {
                            <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    }
                </select>
            </div>

            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" name="Author" value="@article.Author">
            </div>
            <label class="layui-form-label">来源</label>
            <div class="layui-input-inline">
                <input type="text" autocomplete="off" class="layui-input" name="Source" value="@article.Source">
            </div>
        </div>


        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">正文</label>
            <div class="layui-input-block">
                <textarea id="TextContent" name="TextContent" placeholder="请输入内容" class="layui-textarea">@article.TextContent</textarea>
            </div>
        </div>


        <div class="layui-form-item">
            <button class="layui-btn" lay-submit="" lay-filter="demo2">保存</button>
        </div>
    </form>
</div>